<main class="container">
    <h2>Comanda</h2>

    <a (click)="novo()" class="btn btn-primary">Novo</a>

    <table class="table">
        <thead>
            <tr>
                <th>Data Entrada</th>
                <th>Data Retirada</th>
                <th>Roupas</th>
                <th>Serviços</th>
                <th>Pagamento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umcomanda of listaComandas">
                <td>{{umcomanda.dataEntrada | date:'dd/MM/yyyy'}}</td>
                <td>{{umcomanda.dataRetirada | date:'dd/MM/yyyy'}}</td>
                <td>{{umcomanda.listaRoupas}}</td>
                <td>{{umcomanda.listaServicos}}</td>
                <td>{{umcomanda.pagamento}}</td>
                <td>
                    <a (click)="alterar(umcomanda)" class="btn btn-secondary">Alterar</a>
                    <a (click)="abrirConfirmacao(umcomanda)" class="btn btn-danger ml-2">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>