<main class="container">
  <h2>Roupa</h2>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="txtTipoRoupa">Tipo Roupa</label>
        <input
          type="text"
          [(ngModel)]="roupa.tipo"
          class="form-control"
          id="txtTipoRoupa"
        />
      </div>
      <div class="form-group">
        <label for="txtPreco">Preço</label>
        <input
          type="number"
          [(ngModel)]="roupa.preco"
          class="form-control"
          id="txtPreco"
        />
      </div>
      <div class="form-group">
        <label for="selectServico">Serviço</label>
        <select
          [(ngModel)]="roupa.servico"
          class="form-control"
          id="selectServico"
          name="selectServico"
        >
          <option *ngFor="let servico of listaServicos" [ngValue]="servico">
            {{ servico.descricao }}
          </option>
        </select>
      </div>
    </div>
    <button (click)="salvar()" class="btn btn-primary">Salvar</button>
  </div>
</main>

